{% extends "layout.html" %}

{% block body %}


	<!--about-->
	<div class="about"> 
		<div class="container">
			<h3 class="title">Distributor-1</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{{ url_for('static', filename='images/dis_4.png' ) }}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Distributor_Name-1 :- Sourav Tiwari</h4>
					<h4>Distributor_ID :- 001ST</h4>
					<p>Sourav Tiwari is an indian farmer,and most hardworking farmers among our team & always busy, working hard for their crops, during day and night.It would not be wrong to say that farmers like<b> Sourav Tiwari</b> are the backbone of our organization.</p>
					<p>Sourav is solely responsibile for making the land for harvesting the crops, sowing the seeds and taking care of it.He also sell his crops in the market.He keeps the fields free of water, manure and weeds along with the crops apart from planting.</p>
					
					<ul>
						<li><a href="/order"><b>Contact Sourav Tiwari</b></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="about"> 
		<div class="container">
			<h3 class="title">Distributor-2</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{{ url_for('static', filename='images/dis_9.png' ) }}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Distributor_Name-2 :- Pawan Singh</h4>
					<h4>Distributor_ID :- 002PS</h4>
					<p>Pawan Singh is an indian farmer,and most hardworking farmers among our team & always busy, working hard for their crops, during day and night.It would not be wrong to say that farmers like<b> Pawan Singh</b> are the backbone of our organization.</p>
					<p>Pawan Singh is solely responsibile for making the land for harvesting the crops, sowing the seeds and taking care of it.He also sell his crops in the market.He keeps the fields free of water, manure and weeds along with the crops apart from planting.</p>
					
					<ul>
						<li><a href="/order"><b>Contact Pawan Singh</b></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="about"> 
		<div class="container">
			<h3 class="title">Distributor-3</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{{ url_for('static', filename='images/dis_13.png' ) }}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Distributor_Name-3 :- Gaurav Singh</h4>
					<h4>Distributor_ID :- 003GS</h4>
					<p>Gaurav Singh is an indian farmer,and most hardworking farmers among our team & always busy, working hard for their crops, during day and night.It would not be wrong to say that farmers like<b> Gaurav Singh</b> are the backbone of our organization.</p>
					<p>Gaurav Singh is solely responsibile for making the land for harvesting the crops, sowing the seeds and taking care of it.He also sell his crops in the market.He keeps the fields free of water, manure and weeds along with the crops apart from planting.</p>
					
					<ul>
						<li><a href="/order"><b>Contact Gaurav Singh</b></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="about-slid" > 
		<div class="container">
			<div class="about-slid-info"> 
				<h2>Taza_Raseela_Tarabooj</h2>
				<p>We are here to provide the oline platform to buy/sell the watermelon(tarabooj) at wholesale price...</p>
			</div>
		</div>
	</div>
	

	<div class="about"> 
		<div class="container">
			<h3 class="title">Distributor-4</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{{ url_for('static', filename='images/dis_7.png' ) }}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Distributor_Name-4 :- Rinki Devi</h4>
					<h4>Distributor_ID :- 004RD</h4>
					<p>Rinki Devi is an indian farmer,and most hardworking farmers among our team & always busy, working hard for their crops, during day and night.It would not be wrong to say that farmers like<b> Rinki Devi</b> are the backbone of our organization.</p>
					<p>Rinki Devi is solely responsibile for making the land for harvesting the crops, sowing the seeds and taking care of it.He also sell his crops in the market.He keeps the fields free of water, manure and weeds along with the crops apart from planting.</p>
					
					<ul>
						<li><a href="/order"><b>Contact Rinki Devi</b></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="about"> 
		<div class="container">
			<h3 class="title">Distributor-5</h3>
			<div class="about-text">
				<div class="col-md-6 about-text-left">
					<img src="{{ url_for('static', filename='images/dis_8.png' ) }}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-text-right">
					<h4>Distributor_Name-5 :- Sunita Singh</h4>
					<h4>Distributor_ID :- 005SS</h4>
					<p>Sunita Singh is an indian farmer,and most hardworking farmers among our team & always busy, working hard for their crops, during day and night.It would not be wrong to say that farmers like<b> Sunita Singh</b> are the backbone of our organization.</p>
					<p>Sunita Singh is solely responsibile for making the land for harvesting the crops, sowing the seeds and taking care of it.He also sell his crops in the market.He keeps the fields free of water, manure and weeds along with the crops apart from planting.</p>
					
					<ul>
						<li><a href="/order"><b>Contact Sunita Singh</b></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="about-team">		
		<div class="container">
			<h3 class="title">Our Popluar-n-Fresh Products</h3>
			<div class="row team-row">
				<div class="col-sm-6 col-md-3 team-grids">
					<div class="thumbnail team-thmnl">
						<img src="{{ url_for('static', filename='images/product_3.png' ) }}" class="img-responsive zoom-img" alt="...">
						<div class="caption">
							<h4><a href="/order">Captivation Watermelons</a></h4>
							<p>This is a <b>seedless variety</b> with Oblong / Uniform in shape and <b>Firm flesh that is sweet and tasty in flavour</b> with bright red flesh with deep green rind in color.</p>						
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 team-grids">
					<div class="thumbnail team-thmnl">
						<img src="{{ url_for('static', filename='images/pro_1.png' ) }}" class="img-responsive zoom-img" alt="...">
						<div class="caption">
							<h4><a href="/order">Collection of all</a></h4>
							<p>This is our collection of <b>Seeded/seedless watermelon</b> with round/oblong or ova in shape and <b>sweet/fiber flesh in flavour</b> with red flesh with a grey/green colored rind in color.</p>							
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 team-grids">
					<div class="thumbnail team-thmnl">
						<img src="{{ url_for('static', filename='images/product_4.png' ) }}" class="img-responsive zoom-img" alt="...">
						<div class="caption">
							<h4><a href="/order">Bijou Watermelon</a></h4>
							<p>This is a <b>seeded variety</b> with round or ova in shape and <b>sweet and crisp flesh in flavour</b> with red flesh / light or dark green stripped rind in color.</p>			
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 team-grids">
					<div class="thumbnail team-thmnl">
						<img src="{{ url_for('static', filename='images/product_5.png' ) }}" class="img-responsive zoom-img" alt="...">
						<div class="caption">
							<h4><a href="/order">Charleston Grey Watermelons</a></h4>
							<p>This is a <b>Seeded most popular watermelon</b> with oblong or ova in shape and <b>sweet fiber-less flesh in flavour</b> with red flesh with a grey/green colored rind in color.</p>					
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


{% endblock %}