{% extends "layout.html" %}

{% block body %}

	<!--baner-->
	<div class="baner about-bnr">
		<div class="container">
			<div class="baner-grids">
				<div class="col-md-6 baner-top">
					<img src="{{ url_for('static', filename='images/gallery_head_1.png' ) }}" alt=""/>
				</div>
				<div class="col-md-6 baner-top">
					<img src="{{ url_for('static', filename='images/gallery_head_2.png' ) }}" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//baner-->
	<!--gallery-->
	<div class="gallery">		
		<div class="container">
			<h3 class="title">Our latest products in market/mandi</h3>
			<div class="gallery-grids">				
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_1.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_1.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_2.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_2.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_3.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_3.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_4.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_4.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_5.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_5.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_6.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_6.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_7.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_7.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_8.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_8.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_9.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_9.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>

				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_10.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_10.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>

				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_11.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_11.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>

				<div class="col-md-4 port-grids view view-fourth">
					<a class="example-image-link" href="{{ url_for('static', filename='images/gallery_12.png' ) }}" data-lightbox="example-set" data-title="">
						<img src="{{ url_for('static', filename='images/gallery_12.png' ) }}" class="img-responsive" alt=""/>
						<div class="mask">
							<a href="/order"><p>We provide best quality of watermelon with wholesale price!!!</p></a>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>	
				<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.min.js' ) }}"> </script>
			</div>				
		</div>
	</div>	
	<!--//gallery-->
	
	{% endblock %}